In [ ]:
#use lesson/notes form 1.08 to complete this lab

In [ ]:
#what is my y in this scenario???? ******************* 
#HOW TO DO X_Y SPLIT

In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import math
import warnings
warnings.filterwarnings('ignore')
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [ ]:
#Questions 
Dealing with the data
Already done in the round 2.
----------------------------------------------------------
Explore the data
Done in the round 3.
-----------------------------------------------------------
                        ##Do the following##
Processing Data
   --> X-y split.
   --> Normalize (numerical).

In [ ]:
X-y split.
#???is the x y test train split the same as x-y split ?

In [12]:
data=pd.read_excel('/Users/Bijou/Desktop/Ironhack_prework_activities/LABS/LAB5/marketing_customer_analysis.xlsx')

In [13]:
data.shape

(9134, 24)

In [ ]:
YOU NEED TO SELECT YOUR Y

In [ ]:
#Y = data['TARGET_D']#is your target 
#data = data.drop(['TARGET_D'], axis=1)

In [6]:
X_num = data.select_dtypes(include = np.number)
X_num

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
0,2763.519279,56274,69,32,5,0,1,384.811147
1,6979.535903,0,94,13,42,0,8,1131.464935
2,12887.431650,48767,108,18,38,0,2,566.472247
3,7645.861827,0,106,18,65,0,7,529.881344
4,2813.692575,43836,73,12,44,0,1,138.130879
...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,198.234764
9130,3096.511217,21604,79,14,28,0,1,379.200000
9131,8163.890428,0,85,9,37,3,2,790.784983
9132,7524.442436,21941,96,34,3,0,3,691.200000
9133,2611.836866,0,77,3,90,0,1,369.600000

In [7]:
from sklearn.preprocessing import Normalizer 
transformer = Normalizer().fit(X_num) 

x_normalized = transformer.transform(X_num)
print(x_normalized.shape)

(9134, 8)

In [8]:
pd.DataFrame(x_normalized)

,0,1,2,3,4,5,6,7
0,0.049048,0.998772,0.001225,0.000568,0.000089,0.000000,0.000018,0.006830
1,0.987006,0.000000,0.013293,0.001838,0.005939,0.000000,0.001131,0.160005
2,0.255478,0.966747,0.002141,0.000357,0.000753,0.000000,0.000040,0.011230
3,0.997473,0.000000,0.013829,0.002348,0.008480,0.000000,0.000913,0.069128
4,0.064055,0.997940,0.001662,0.000273,0.001002,0.000000,0.000023,0.003145
...,...,...,...,...,...,...,...,...
9129,0.309385,0.950932,0.000965,0.000238,0.001176,0.000000,0.000026,0.002620
9130,0.141858,0.989727,0.003619,0.000641,0.001283,0.000000,0.000046,0.017372
9131,0.995277,0.000000,0.010363,0.001097,0.004511,0.000366,0.000244,0.096406
9132,0.324247,0.945493,0.004137,0.001465,0.000129,0.000000,0.000129,0.029786
9133,0.989138,0.000000,0.029161,0.001136,0.034084,0.000000,0.000379,0.139973